<svg xmlns:svg="http://www.w3.org/1999/html" [style.width]="(__boundingBox.width + lineWidth) + 'px'" [style.height]="(__boundingBox.height + lineWidth) + 'px'" [attr.viewBox]="__viewBox" preserveAspectRatio="none">
  <svg:path [attr.x]="0" [attr.y]="0" [attr.width]="__boundingBox.width" [attr.height]="__boundingBox.height" [attr.d]="__path" stroke="black"></svg:path>
</svg>
<!--
<ngux-contextmenu [style.transform]="__invertedCssTransformationMatrix">
  <ngux-contextmenu-item [text]="'Remove'" (click)="remove()"></ngux-contextmenu-item>
</ngux-contextmenu>
-->
