<div class="d-flex">
  <div class="d-flex flex-column">
    <div class="node-title align-self-center">Audio Sink</div>
    <div class="d-flex flex-row justify-content-between">
      <app-node-socket-group
        class="socket-left align-self-center"
        (mouseenter)="__isDragable = false"
        (mouseleave)="__isDragable = true">
        <ng-template #sockets>
          <app-node-socket [owner]="this" [direction]="'in'" (mouseenter)="__isDragable = false" (mouseleave)="__isDragable = true"></app-node-socket>
        </ng-template>
      </app-node-socket-group>
      <div class="node-parameters">
        <form [formGroup]="__parametersForm">
          <div class="form-group">
            <label for="gain">Gain</label>
            <input
              id="gain"
              type="range"
              class="form-control-range"
              min="0"
              max="1"
              value="1"
              step="0.001"
              formControlName="gain"
              appHandAxisControl
              [ngbTooltip]="gainTooltip"
              (mouseenter)="__isDragable = false"
              (mouseleave)="__isDragable = true">
            <ng-template #gainTooltip>{{gain|number:'.3'}}</ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<context-menu #nodeContextMenu>
  <ng-template
    contextMenuItem
    (execute)="remove()"
  >
    Remove
  </ng-template>
</context-menu>
